<div class="ehri-item">
    <h2 class="ehri-item-heading type-highlight Repository">
        <a target="_blank" href="//portal.ehri-project.eu/institutions/{{id}}" class="external type-highlight Repository">
            {{attributes.name}}
        </a>
    </h2>
    <div class="ehri-item-body">
        {% set otherNames = attributes.otherFormsOfName|default([])|merge(attributes.parallelFormsOfName|default([])) %}
        {% if otherNames %}
            <ul class="ehri-item-alternate-names">
                {% for name in otherNames %}
                    <li>{{name}}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <div class="ehri-item-details">
            <ul class="concise-address">
                {% if country %}
                <li>
                    <a target="_blank" href="//portal.ehri-project.eu/countries/{{country_code}}" class="alt">
                        {{country}}
                    </a>
                </li>
                {% endif %}
                {% if attributes.address.streetAddress %}
                    <li>{{attributes.address.streetAddress}}</li>
                {% endif %}
                {% if attributes.address.city %}
                    <li>{{attributes.address.city}}</li>
                {% endif %}
                {% if meta.updated %}
                <li>
                    <time datetime="{{meta.updated}}">{{data.meta.updated}}</time>
                </li>
                {% endif %}
            </ul>
        </div>
        {% if meta.subitems > 0 %}
            <div class="ehri-item-subitems">
                <a target="_blank" href="//portal.ehri-project.eu/institutions/{{id}}/search">
                    {{meta.subitems}} archival descriptions available
                </a>
            </div>
        {% endif %}
    </div>
</div>
