
<div class="ehri-item-container">
    <div class="ehri-item">
        <div class="ehri-item-heading type-highlight {{type}}">
            {% block heading %}{% endblock %}
        </div>
        <div class="ehri-item-details">
            {% block details %}{% endblock %}
        </div>
        <div class="ehri-item-body">
            {% block body %}{% endblock %}
        </div>
        {% if meta.subitems > 0 %}
            <div class="ehri-item-subitems">
                {% block subitems %}{% endblock %}
            </div>
        {% endif %}
    </div>
    {% if itemUrl %}
        <div class="ehri-item-footer">
            <a target="_blank" href="{{ itemUrl }}">View this item on the EHRI Portal</a>
        </div>
    {% endif %}
</div>
